<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  {{>navbar}}

  <h1 class="text-center">Create Customer</h1>

  <div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="john doe">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="some@example.com">
                </div>
                <div>
                    <label for="age">Age</label>
                    <input type="number" name="age" id="age" class="form-control" placeholder="21">
                </div>
                {{#if result}}
                {{#if result.success}}
                <div class="alert alert-success ">
                    Data saved succesfully
                </div>
                {{else}}
                 <div class="alert alert-danger ">
                    uable to save data
                </div>

                {{/if}}
                {{/if}}
                <div class="d-grid-mt-3">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
  </div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>